.sectionContainer {
  min-height: 95vh;
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
